<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace写对应的mapper全限定类名 -->
<mapper namespace="com.newcoder.community.dao.UserMapper">
    <!--查询字段比较耦合，我们提取出来   -->
    <sql id="insertFields">
        username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <sql id="selectFields">
        id, username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <!--id写对应的方法名 -->
    <!--对于自己定义的entity写上返回类型 -->
    <select id="selectById" resultType="User">
        <!--#{id}是Mapper参数列表传过来的 -->
        select <include refid="selectFields"></include>
        from user
        where id=#{id}
    </select>

    <select id="selectByName" resultType="User">
        <!--#{id}是Mapper参数列表传过来的 -->
        select <include refid="selectFields"></include>
        from user
        where username=#{username}
    </select>

    <select id="selectByEmail" resultType="User">
        <!--#{id}是Mapper参数列表传过来的 -->
        select <include refid="selectFields"></include>
        from user
        where email=#{email}
    </select>

    <!--像自定义的entity中的参数，我们需要用parameterType声明类型 -->
    <!--keyProperty="id" mysql本身底层id是递增的，User中是没有这个数据的
     我们设置这个就可以将递增的id填入User的id字段-->
    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into user (<include refid="insertFields"></include>)
        values(#{username}, #{password}, #{salt}, #{email}, #{type}, #{status}, #{activationCode}, #{headerUrl}, #{createTime})
    </insert>

    <update id="updateStatus" >
        update user
        set status= #{status}
        where id=#{id}
    </update>

    <update id="updateHeader" >
        update user
        set header_url= #{headerUrl}
        where id=#{id}
    </update>

    <update id="updatePassword" >
        update user
        set password= #{password}
        where id=#{id}
    </update>

    <update id="updateUsername">
        update user
        set username=#{username}
        where id=#{id}
    </update>


</mapper>